.banner-container{
    background-image: url('../../images/banner.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    padding: 10px;
}

.banner-title{
    color: orange;
}

.banner-container input{
    border: 2px solid lightseagreen;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}